header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
  gap: 3.2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 8rem;
}
header p {
  font-size: 1.8rem;
}
header .hamburger {
  display: none;
  width: 30px;
  height: 21.5px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}
header .hamburger span {
  display: block;
  height: 3px;
  background: #333;
  border-radius: 5px;
  transition: 0.4s ease;
}

header .hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

header .hamburger.active span:nth-child(2) {
  opacity: 0;
}

header .hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
nav.mobileNav {
  display: none;
  position: fixed;
  top: 8rem;
  right: 0;
  width: fit-content;
  height: 100vh;
  background-color: var(--secondary-color);
  padding: 2.4rem;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1001;
  border-top-left-radius: 2rem;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: 0.4s ease-in-out;
}
nav.mobileNav.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
nav.mobileNav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 4.8rem;
  gap: 0.4rem;
}
nav.mobileNav ul li {
  width: 100%;
}
nav.mobileNav ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  padding: 1.2rem 0.4rem;
  color: var(--text-color);
  font-size: 1.8rem;
}
nav.mobileNav ul li a span {
  font-size: 2.4rem;
}
nav.mobileNav ul li a.active span {
  color: var(--primary-color);
}
nav.mobileNav ul li:hover {
  background-color: var(--border-color);
}
nav.mobileNav ul li:active {
  background-color: var(--background-color);
}
@media screen and (min-width: 1800px) {
  header {
    padding: 4.8rem 1.8rem;
  }
  header p {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  header .desktopDate {
    display: none;
  }
  header .hamburger {
    display: flex;
  }
  header p {
    font-size: 1.6rem;
  }
  nav.mobileNav {
    display: flex;
  }
}
