header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
  gap: 3.2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 80px;
}
header p {
  font-size: 1.8rem;
}
@media screen and (min-width: 1800px) {
  header {
    padding: 4.8rem 1.8rem;
  }
  header p {
    font-size: 2.4rem;
  }
}
