:host {
  flex: 1;
}
#promos {
  margin-block: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2.4rem;
}
#promos .heading {
  text-align: left;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 2.4rem;
  text-align: center;
}
