:host {
  width: 100%;
}
.gridCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  width: 100%;
  margin-block: 2.4rem;
  color: var(--text-color);
  font-size: 1.6rem;
  justify-items: center;
}

.gridCont .card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding-block: 1.6rem;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
.gridCont .card h1 {
  font-size: 2.2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.2rem;
  padding-inline: 1.6rem;
  color: var(--primary-color);
}
.gridCont .card h5 {
  font-weight: 600;
  font-size: 1.6rem;
}
.gridCont .card .presonalInfo,
.gridCont .card .contactInformation {
  display: flex;
  padding-inline: 1.6rem;
  flex-direction: column;
  align-items: center;
  padding-block: 1.2rem;
}
.gridCont .card .presonalInfo h2,
.gridCont .card .contactInformation h2 {
  font-size: 1.8rem;
  color: var(--border-color);
}

.gridCont .card div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.userPostBtn,
.userTasksBtn {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 10;
  font-weight: 600;
  margin-inline: 1.6rem;
}
.userPostBtn p,
.userTasksBtn p {
  z-index: 10;
  position: relative;
}
.userPostBtn {
  background-color: var(--border-color);
  color: var(--text-color);
}

.userTasksBtn {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.userPostBtn::before,
.userTasksBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--border-color);
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.userPostBtn:hover::before,
.userTasksBtn:hover::before {
  width: 100%;
}
.userPostBtn::after,
.userTasksBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  transform: skewX(-30deg);
  z-index: 2;
  pointer-events: none;
}
.userPostBtn:hover::after,
.userTasksBtn:hover::after {
  animation: shimmer 1.2s forwards;
}
@keyframes shimmer {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}

.userTasksBtn:active,
.userPostBtn:active {
  transform: scale(1.05);
}

.no-data,
.errorMsg {
  font-size: 1.8rem;
  text-align: center;
  color: var(--third-color);
}
@media (max-width: 1200px) {
  .gridCont {
    gap: 1.6rem;
    font-size: 1.4rem;
  }
  .gridCont .card h1 {
    font-size: 1.8rem;
  }
  .gridCont .card h5 {
    font-weight: 600;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .gridCont {
    grid-template-columns: 1fr;
  }
  .gridCont .card {
    width: clamp(280px, 55%, 100%);
  }
}
@media (max-width: 375px) {
  .gridCont .card {
    width: 100%;
  }
}
