table {
  width: 100%;
  min-width: 850px;
  margin-block: 2.4rem;
  border-radius: 24px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-collapse: collapse;
  font-size: 1.2rem;
  overflow: hidden;
}

thead th {
  text-align: left;
  padding: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  border: none;
  background-color: var(--border-color);
}
tbody tr {
  border-top: 1px solid var(--border-color);
}
tbody td {
  padding: 1.2rem 1.6rem;
}
table .viewCol {
  text-align: center;
}
.viewRow {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.userPostBtn,
.userTasksBtn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.userPostBtn p,
.userTasksBtn p {
  z-index: 10;
  position: relative;
}
.userPostBtn {
  background-color: var(--third-color);
  color: var(--text-color);
}

.userTasksBtn {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.userPostBtn::before,
.userTasksBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--border-color);
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.userPostBtn:hover::before,
.userTasksBtn:hover::before {
  width: 100%;
}
.userPostBtn::after,
.userTasksBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  transform: skewX(-30deg);
  z-index: 2;
  pointer-events: none;
}
.userPostBtn:hover::after,
.userTasksBtn:hover::after {
  animation: shimmer 1.2s forwards;
}
@keyframes shimmer {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}

.userTasksBtn:active,
.userPostBtn:active {
  transform: scale(1.05);
}
