@if(isFetching() && !error()) {
<app-loader/>
} @if(error()) {
<p>{{error()}}</p>
} @if(!isFetching() && !error()) {
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Company</th>
            <th class="viewCol">View</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users(); track user.id) {
        <tr>
            <td>{{ user.firstName}}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.company.name }}</td>
            <td class="viewRow">
                <button class="userPostBtn">
                    <p>Posts</p>
                </button>
                <button class="userTasksBtn">
                    <p>Tasks</p>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
