<section id="homePage">
    <div class="heading">
        <h1>
            Welcome to ServIt!
        </h1>
        <h2>where you can explore real users, their posts, and personal tasks.</h2>
    </div>
    <div class="about">
        <h3>About:</h3>
        <p>
            ServIt uses the JSONPlaceholder API to simulate real-world user data.
            It’s a simple yet powerful tool to explore user information, see what they post, and follow their to-do progress.
        </p>
    </div>
    <div class="explore">
        <h3>Use Navigation to explore:</h3>
        <ul>
            <li>👤 Users: Browse profiles and details.</li>
            <li>
                📝 Posts: Read what users are sharing.
            </li>
            <li>✅ Todos: Track completed and pending tasks.</li>
            <li>🎯 Promos: Explore featured promotion.</li>
        </ul>
    </div>
</section>
