:host {
  flex: 1;
  display: flex;
}
#homePage {
  margin-block: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2.4rem;
  width: 100%;
  border-radius: 24px;
  color: var(--text-color);
}
#homePage .heading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  text-align: center;
}
#homePage .heading h1 {
  font-size: 2.4rem;
}
#homePage .heading h2 {
  font-size: 1.8rem;
  color: var(--accent-color);
}
#homePage h3 {
  font-size: 1.8rem;
}
#homePage .about,
#homePage .explore {
  font-size: 1.6rem;
}
#homePage .about {
  text-align: center;
  background-color: var(--border-color);
}
#homePage .explore {
  background-color: var(--secondary-color);
}
#homePage .about,
#homePage .explore,
#homePage .heading {
  padding: 1.6rem;
  border-radius: 12px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
@media (max-width: 900px) {
  #homePage .about,
  #homePage .explore,
  #homePage .heading {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #homePage .heading h1 {
    font-size: 2.4rem;
  }

  #homePage .about,
  #homePage .explore {
    font-size: 1.4rem;
  }
}
