:host {
  flex: 1;
}
#userTasks {
  margin-block: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2.4rem;
}
#userTasks .heading {
  text-align: left;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 2.4rem;
}

.flexCont {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.flexCont h5 {
  padding: 1.2rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-size: 1.6rem;
  color: var(--text-color);
}
.flexCont h5.completed {
  background-color: var(--primary-color);
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  .flexCont h5 {
    font-size: 1.4rem;
  }
}
