<nav class="desktopNav">
    <ul>
        <li>
            <a routerLink="users" routerLinkActive="active">
                <span class="material-symbols-rounded">person</span>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a routerLink="posts" routerLinkActive="active">
                <span class="material-symbols-rounded">mail</span>
                <p>Posts</p>
            </a>
        </li>
        <li>
            <a routerLink="promos" routerLinkActive="active">
                <span class="material-symbols-rounded">percent_discount</span>
                <p>Promos</p>
            </a>
        </li>
    </ul>
</nav>
