nav.desktopNav {
  overflow: hidden;
  position: fixed;
  top: 8rem;
  left: 2.4rem;
  height: calc(100vh - 8rem);
  z-index: 1000;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding-block: 1.6rem;
  align-items: center;
}
nav.desktopNav ul {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 24px;
  background-color: var(--secondary-color);
  padding: 1.2rem;
  margin: 0;
  /* height: 70%; */
  padding-block: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: 0.4s;
  width: 64px;
  cursor: pointer;
}
nav.desktopNav ul li {
  width: 100%;
  list-style: none;
  padding: 0.6rem 0.4rem;
  border-bottom: 1px solid var(--border-color);
  transition: 0.4s;
}

nav.desktopNav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
nav.desktopNav ul li p {
  opacity: 0;
  transition: 0.4s;
  transform: translateX(-35px);
}
nav.desktopNav span {
  font-size: 3.2rem;
  color: var(--text-color);
}
nav.desktopNav ul:hover {
  width: fit-content;
  padding-inline: 0.8rem;
}
nav.desktopNav ul:hover li {
  padding-inline: 0.8rem;
}

nav.desktopNav ul:hover li p {
  opacity: 1;
  transform: translateX(0);
}
nav.desktopNav ul li:hover {
  background-color: var(--border-color);
  border-radius: 8px;
}
nav.desktopNav ul li:active {
  background-color: var(--background-color);
}
nav.desktopNav ul li a.active span {
  color: var(--primary-color);
}
@media screen and (min-width: 1800px) {
  nav.desktopNav span {
    font-size: 4.8rem;
  }
  nav.desktopNav ul {
    width: 80px;
  }
  nav.desktopNav ul li a {
    font-size: 2.4rem;
  }
}
@media screen and (max-height: 450px) {
  nav.desktopNav ul {
    height: 100%;
    padding-block: unset;
  }
}
@media (max-width: 768px) {
  nav.desktopNav {
    display: none;
  }
}
