<nav>
    <ul>
        <li>
            <a href="#">
                <span class="material-symbols-rounded ">
                    person
                </span>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-rounded">
                    mail
                </span>
                <p>Posts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-rounded">
                    percent_discount
                </span>
                <p>Promos</p>
            </a>
        </li>
    </ul>
</nav>
