.pagination {
  display: flex;
  gap: 0.6rem;
}
.pagination button {
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
}
.pagination button[disabled] {
  background-color: var(--primary-color);
}
.pagination button:hover {
  background-color: var(--primary-color);
}
.pagination button:active {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
