:host {
  flex: 1;
}
#userPosts {
  margin-block: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2.4rem;
}
#userPosts .heading {
  text-align: center;
}
#userPosts h1 {
  font-size: 3.2rem;
  color: var(--text-color);
}
.gridCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  justify-content: space-between;
}
.gridCont .card {
  width: 100%;
  padding: 1.6rem;
  border-radius: 12px;
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: 2px solid transparent;
}
.gridCont .card h5 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  width: 200px;
  display: flex;
  align-items: center;
}
.gridCont .card h5 span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.gridCont .card p {
  color: var(--accent-color);
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.gridCont .card:hover {
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalCard {
  width: 400px;
  max-width: 50%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 2.4rem;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
}
.modalCard h5 {
  font-size: 1.6rem;
  text-align: center;
}
.modalCard p {
  font-size: 1.4rem;
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .gridCont {
    grid-template-columns: 1fr;
  }
  .gridCont .card,
  .heading {
    width: clamp(280px, 350px, 100%);
  }
  .gridCont {
    justify-items: center;
  }
  .heading h1 {
    font-size: 2.4rem;
  }
  .modalCard {
    max-width: 80%;
  }
}
@media (max-width: 375px) {
  .modalCard {
    max-width: 80%;
  }
  .gridCont .card,
  .heading {
    width: 100%;
  }
}
