main {
  width: 50%;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  flex: 1;
  color: var(--primary-color);
  overflow-x: hidden;
}

@media (max-width: 1023px) {
  main {
    width: 70%;
  }
}
@media (max-width: 768px) {
  /* main {
    width: clamp(280px, 80%, 80%);
  } */
  main {
    width: 80%;
  }
}
/* @media (max-width: 375px) {
  main {
    width: 100%;
    padding-inline: 2.4rem;
  }
} */
