:host {
  flex: 1;
}
#Posts {
  margin-block: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2.4rem;
}
#Posts .heading {
  text-align: left;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 2.4rem;
}
table {
  width: 100%;
  border-radius: 24px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-collapse: collapse;
  font-size: 1.2rem;
  overflow: hidden;
}

thead th {
  text-align: left;
  padding: 1.6rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  border: none;
  background-color: var(--border-color);
}
tbody tr {
  border-top: 1px solid var(--border-color);
}
tbody td {
  padding: 1.2rem 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title {
  max-width: 100px;
  font-size: 1.3rem;
}
.desc {
  max-width: 200px;
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}
@media (max-width: 475px) {
  #Posts .heading {
    margin-bottom: 1.2rem;
  }
  .title,
  .desc {
    max-width: unset;
    font-size: 1.2rem;
  }
  table {
    table-layout: fixed;
  }
  .titleHead {
    width: 120px;
  }
  thead th {
    padding: 1.2rem;
  }
  tbody td {
    padding: 0.8rem 1.2rem;
  }
}
