<section id="Posts">
    <div class="heading">
        <h1>Posts</h1>
    </div>
    @if(isFetching() && !error()) {
    <app-loader/>
    } 
    @if(error()) {
    <p class="errorMsg">{{error()}}</p>
    }
    @if(!isFetching() && !error()) {
        @if(posts().length === 0) {
    <div class="no-data">
        <p>Thera are no posts.</p>
    </div>
    }
    <table>
      <thead>
        <tr>
          <th class="titleHead">Title</th>
          <th class="descHead">Description</th>
        </tr>
      </thead>
      <tbody>
      @for (post of posts(); track post.id) {
      <tr >
          <td class="title">{{ post.title}}</td>
          <td class="desc">{{ post.body }}</td>
        </tr>
      }
      </tbody>
    </table>
    <app-pagination
      [currentPage]="currentPage()"
      [totalPages]="totalPages()"
      (pageChange)="goToPage($event)"
    ></app-pagination>
    }
</section>
